.bill-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-container {
    flex-grow: 1;
    margin: 0 10px;
  }
  
  .pass-button {
    background-color: #177cff;
    color: #fff;
    height: 60vh;
    width: 20vw;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .veto-button {
    background-color: var(--text-dark);
    color: #fff;
    height: 60vh;
    width: 20vw;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .pass-button:hover,
  .pass-button:focus {
    background-color: #29c05e;
    transform: rotate(3deg);
  }
  
  .veto-button:hover,
  .veto-button:focus {
    background-color: #d32f2f;
    transform: rotate(-3deg);
  }
  