.bill-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  flex-grow: 1;
  margin: 0 10px;
}

.pass-button {
  background-color: var(--soft-green);
  color: #fff;
  height: 60vh;
  width: 20vw;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  font-size: 2.5rem;
}

.veto-button {
  background-color: var(--light-red);
  color: #fff;
  height: 60vh;
  width: 20vw;
  font-size: 2.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.pass-button:hover,
.pass-button:focus {
  background-color: #29c05e;
  transform: rotate(5deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.veto-button:hover,
.veto-button:focus {
  background-color: #d32f2f;
  transform: rotate(-5deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}