.profile-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  background-color: #f5f6fa; 
  border-radius: 15px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  font-family: 'Arial', sans-serif;
}

.profile-card .profile-pic-upload {
  grid-row: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.profile-card .profile-pic {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-card h2, .profile-card h3 {
  margin-top: 0;
}

.profile-card h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.profile-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #007BFF;
}

.profile-card p, .profile-card div {
  font-size: 16px;
  margin-bottom: 5px;
}

.profile-card .label {
  font-weight: bold;
  font-size: 18px;
}

.profile-card input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #007BFF;
  margin-bottom: 10px;
}

[data-theme="dark"] .drag-n-drop{
  border: 2px dotted rgba(255, 255, 255, 0.5);
}
.drag-n-drop{
  border: 2px dotted rgba(0, 0, 0, 0.5);
  border-radius: 10px;

}
.profile-card .info-group {
  padding: 10px;
}
.activeUser{
  display: flex;
  flex-direction: column;
}
[data-theme="dark"] .profile-card {
  background-color: #2f3640; 
  color: white;
}

.info-group-container{
  display: flex;
  flex-direction: row;
}
.info-group{
  margin-left: 3rem;
}
.activeUser {
  text-align: center;
}

.activeUser .profileImageWrapper {
  display: flex;
  justify-content: center;
}

.activeUser img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}