/* src/components/Footer/Footer.css */
:root {
    --white: #FFFFFF;
    --grey-100: #F8F9FA;
    --grey-200: #E9ECEF;
    --grey-300: #DEE2E6;
    --grey-400: #CED4DA;
    --orange: #F67F00;
    --text-light: #6C757D;
    --text-dark: #3E454D;
    --blue: #4285F4;
    --soft-red: #f85c5c;
    --red: #d32f2f;
    --green: #29c05e;
    --soft-green: #4cd16d;
    --light-red: #ff6565;
  }
.footer {
    padding-top: 3rem;
    background-color: #f5f5f5;
    padding: 2rem 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex-basis: 30%;
    margin-bottom: 2rem;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 0.5rem;
    color: var(--text-light);
  }
  
  .footer-links a {
    color: var(--text-light);
    text-decoration: none;
  }
  .footer-links a:hover{
    color: var(--text-dark);
    text-decoration: none;
  }
  
  .footer-bottom {
    background-color: #e0e0e0;
    padding: 1rem 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  .footer-section,
.footer-section * {
  color: var(--text-light);
}